<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477776771945-br24qdjmsppr5bue4pefdj9l58u9kkg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477776771945-br24qdjmsppr5bue4pefdj9l58u9kkg8</string>
	<key>API_KEY</key>
	<string>AIzaSyD9gYOtQA8tSmMzRrQ0IK6SOp_XkClsUUY</string>
	<key>GCM_SENDER_ID</key>
	<string>477776771945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hiier.cleaning.service.app.com</string>
	<key>PROJECT_ID</key>
	<string>hiier-cleaning-service-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hiier-cleaning-service-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477776771945:ios:7bae9223ba110cbd2d5bf8</string>
	<key>DATABASE_URL</key>
	<string>https://hiier-cleaning-service-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>